<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lyrics Generator</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<style>
    body{
        background:lightsalmon;

    }
    .green-text{
        color:lightseagreen;
    }
    .header h1{
        font-family:Lobster;
        text-align: center;
        font-size: 60px;
    }
    .header img{
        max-width:100%;
        height:auto;
    }

    #Intro{
        font-size: 18px;
        font-family:monospace;
        color:yellow;
    }
    #OutputLyrics{
        font-size: 26px;
        font_family:monospace;
        color:#ba68c8;
    }


</style>
<body>
<div class="header">
    <h1 class="green-text">LyricGem         <img src="https://user-images.githubusercontent.com/39924702/89726701-8cbd9c80-d9eb-11ea-9b2e-6915fe543f9f.png" width = 50 height = 100 alt="logo"></h1>
</div>
<main>
    <p id="Intro">Welcome to LyricsGem, your one and only web app that allows you to generate tens of thousands of new lyrics
    based on the artists you like!</p>
    <form action="" class="form" method="POST">
        <labeln>Please enter one sentence to describe your day:</labeln>
        <input type="text" class="form-control" placeholder="Describe your day" id="mood" name="mood" value="{{ request.form.mood }}"><br>
        <label for="Artists">Select artists:</label>
        <select id="Aritsts" name="Artists">
            <option value="Taylor Swift">Taylor Swift</option>
            <option value="Donald Trump">Donald Trump</option>
        </select><br>
        <label for="name">Enter starting texts</label>
        <input type="text" class="form-control" placeholder="Lyrics" id="lyrics" name="lyrics" value="{{ request.form.lyrics }}"><br>
        <input type="submit" value="Submit">
    </form>
    <p id="OutputMood">Detected Mood:{{ user_mood }}</p>
    <p id="OutputLyrics"><span style="color:#c62828">Generated Lyrics: </span>{{ user_input }}</p>
</main>
</body>
</html>